.submission_message_error {
	color: red;
}

.submission_message_success {
	color: green;
}

#promoCode {
	width: 80%;
	height: 50px;
	float: left;
}

#promoButton {
	width: 20%;
	height: 50px;
	float: right;
}